{% extends 'base.html' %}
{% block title %}View Employees{% endblock %}

{% block content %}
<h2>All Employees</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.department }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
